@model CapaDatos.Modelo.proyecto_has_usuario_has_rol

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>proyecto_has_usuario_has_rol</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.usuario_idUsuario, "usuario_idUsuario", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("usuario_idUsuario", String.Empty)
                @Html.ValidationMessageFor(model => model.usuario_idUsuario)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.rol_idRol, "rol_idRol", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("rol_idRol", String.Empty)
                @Html.ValidationMessageFor(model => model.rol_idRol)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.proyecto_bpin, "proyecto_bpin", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("proyecto_bpin", String.Empty)
                @Html.ValidationMessageFor(model => model.proyecto_bpin)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
