@model IEnumerable<CapaDatos.Modelo.proyecto_has_usuario_has_rol>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.proyecto.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rol.nombreRol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario.tipoIdentificacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.proyecto.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rol.nombreRol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario.tipoIdentificacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
