@model CapaDatos.Modelo.incorporacion_presupuestal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>incorporacion_presupuestal</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.numero_acto_administrativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero_acto_administrativo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vigencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vigencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aplica_vigencia_futura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aplica_vigencia_futura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numero_autorizacion_futura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero_autorizacion_futura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fuente_financiacion.fuente_financiacioncol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fuente_financiacion.fuente_financiacioncol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lis_detalle.codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lis_detalle.codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lis_detalle1.codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lis_detalle1.codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.proyecto.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proyecto.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rubro.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rubro.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
