@model IEnumerable<CapaDatos.Modelo.incorporacion_presupuestal>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.numero_acto_administrativo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vigencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aplica_vigencia_futura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numero_autorizacion_futura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fuente_financiacion.fuente_financiacioncol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lis_detalle.codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lis_detalle1.codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.proyecto.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rubro.descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.numero_acto_administrativo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vigencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aplica_vigencia_futura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numero_autorizacion_futura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fuente_financiacion.fuente_financiacioncol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lis_detalle.codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lis_detalle1.codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.proyecto.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rubro.descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
