@model CapaDatos.Modelo.contactoEntidadEjecutora_has_entidadEjecutora

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>contactoEntidadEjecutora_has_entidadEjecutora</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.contactoEntidadEjecutora.tipoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contactoEntidadEjecutora.tipoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.entidadEjecutora.nit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.entidadEjecutora.nit)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
