@model CapaDatos.Modelo.actividad_detalle

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>actividad_detalle</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.fecha, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fecha)
                @Html.ValidationMessageFor(model => model.fecha)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cantidad_avance, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cantidad_avance)
                @Html.ValidationMessageFor(model => model.cantidad_avance)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.actividad_id, "actividad_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("actividad_id", String.Empty)
                @Html.ValidationMessageFor(model => model.actividad_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.porc_ejecutado, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.porc_ejecutado)
                @Html.ValidationMessageFor(model => model.porc_ejecutado)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
