@model CapaDatos.Modelo.indicador_producto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>indicador_producto</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.lista_indicador.codigo_indicador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lista_indicador.codigo_indicador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.producto.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.producto.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
