@model CapaDatos.Modelo.indicador_producto

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>indicador_producto</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.lista_indicador_id, "lista_indicador_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lista_indicador_id", String.Empty)
                @Html.ValidationMessageFor(model => model.lista_indicador_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.producto_id, "producto_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("producto_id", String.Empty)
                @Html.ValidationMessageFor(model => model.producto_id)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
